* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	overflow-x: hidden;
}

.site {
	overflow-x: hidden;
}

.site-content,
.header-widget-region {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
